<div class="align-center-col mt-5">

    <p style="color:rgb(57, 57, 255);font-weight: 700;" class="gill-san-font">Enter The Plant Details Below</p>
    <mat-form-field class="col-md-4">
        <mat-label class="gill-san-font">Plant Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label class="gill-san-font">Location</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label class="gill-san-font">Select Customer</mat-label>
        <input matInput>
      </mat-form-field>
      <button class="btn btn-primary gill-san-font">Add Plant</button>
</div>
