<!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
    
      <!-- <img src="Maxx_Techno_Solutions_Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      <span style="color:white;font-weight: 800;margin-left: 2rem; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">MaxX</span>
      <span style="color:white;font-weight: 500;margin-right: 2rem;font-size: 15px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">jnanik16&#64;gmail.com</span>
    
  </nav>
