<div class="container-fluid gill-san-font mt-5">
    <div class="row align-center-col" style="text-align: center;">
    <p style="color:rgb(57, 57, 255);font-weight: 700;" class="gill-san-font">Enter Your Login Details</p>
    <mat-form-field class="col-md-5  gill-san-font">
      <mat-label class="gill-san-font"> Email</mat-label>
      <input
        matInput
        placeholder="pat@gmail.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="col-md-5">
        <mat-label class="gill-san-font">Password</mat-label>
        <input matInput required="true">
      </mat-form-field>
      <button class="btn btn-primary gill-san-font col-1">Login</button>
</div>
  </div>
  